<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Larasuite Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="GSUITE_HOSTED_DOMAIN" value="example.org"/>
        <env name="GSUITE_APPLICATION_CREDENTIALS" value="credentials.json"/>
        <env name="GSUITE_SERVICE_ACCOUNT_IMPERSONATE" value="admin@example.org"/>
    </php>
</phpunit>
